*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
.qlot
footsoldiers-runner
game-result
move-logs
state-logs
system-index.txt
turn-logs
target/
player1-errs
player2-errs
*.jar
.bsp
.cache
.ivy2
.sbt